extends layout
block content
  h1= title
  form(id='ramenForm', action="/resource/ramen", method="POST")
    div.form-group
      label.ramenAttr(for='ramen_type') Ramen type
      input#ramen_type(type='text', name='ramen_type')
    div.form-group
      label.ramenAttr(for='calorie') Ramen calorie
      input#calorie(type='number', name='calorie')
    div.form-group
      label.ramenAttr(for='cost') Ramen cost
      input#cost(type='number', name='cost')
    input(type="submit")
  script.
    document.forms['ramenForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Save succeded")
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Save failed " + error )
      });
    });
